
<main class="container py-2 mb-8 flex">
  <div class="d-flex flex-row align-items-center justify-content-center">
      <div class="me-2">
          <h2 class="my-4 text-center" i18n>Estadisticas</h2>
      </div>
      <div>
          <select name="name" #user class="form-select" (change)="change(user.value)">
              <option value="0" selected i18n>Grupo</option>
              <option *ngFor="let user of usersHTML | async" [value]="user.id">{{user.name}}</option>
          </select>
      </div>
  </div>




  <div class="mb-3 mt-2 text-center">
      <h5 i18n>Gasto Total: {{todayCost}} {{currency.currencySymbol}}
        <small *ngIf="currency.active" class="mainExchange">
          / {{ calcExchange(todayCost) }} {{currency.currencyExchangeSymbol}}
       </small>
      </h5>

      <h6 i18n>Gasto medio por dia: {{meanCost}} {{currency.currencySymbol}}
        <small *ngIf="currency.active" class="mainExchange">
          / {{ calcExchange(meanCost) }} {{currency.currencyExchangeSymbol}}
        </small>
      </h6>

  </div>

  <section class="row g-4">
    <app-summarygraph bytype="ByDay" [data]="dailyData" class="col-xl-6"></app-summarygraph>
    <app-summarygraph bytype="ByType" [data]="typeData" class="col-xl-6"></app-summarygraph>
  </section>


</main>

