
<main class="container">
  <h2 class="my-4 text-center" i18n>Administración de usuarios</h2>
  <div class="mb-2 row g-4">
      <div class="col-6">
          <input #user  class="form-control" type="text" i18n.placeholder placeholder="Nombre usuario"
              [(ngModel)]="inputValue" />
      </div>
      <div class="col-6">
          <input #phone  class="form-control" type="number" i18n.placeholder placeholder="whatsApp number (optional)"
              [(ngModel)]="inputPhone" />
      </div>


  </div>

  <button [disabled]="user.value == ''" class="input-group btn my-3 btn btn-primary p-2"
          type="button"
          (click)="add(user.value, phone.value)" i18n>
          Añadir Usuario
  </button>



  <table class="table table-striped mt-4" *ngIf="users$">
      <thead>
          <tr>
              <th i18n>Nombre</th>
              <th i18n>Telf</th>
              <th> - </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of users$ | async">
              <td #nameCell contentEditable (focusout)="edit(nameCell, user, 'name')"> {{user.name}} </td>
              <td #phoneCell contentEditable (focusout)="edit(phoneCell, user, 'phone')"> {{user.phone}}</td>
              <td (click)="delete(user.id)">
                <span class="material-icons">delete_forever</span>
              </td>
          </tr>
      </tbody>
</table>

</main>
