.mat-table-responsive {
  overflow-x: auto;
}

@media (max-width: 600px) {
  .mat-table-responsive {
    overflow-x: scroll;
  }

  .mat-column-nombre,
  .mat-column-edad,
  .mat-column-direccion {
    display: block;
    width: 100%;
    text-align: center;
  }

  .mat-header-cell,
  .mat-cell {
    display: block;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .mat-header-cell {
    font-weight: bold;
  }
}

th.mat-mdc-header-cell {
  font-weight: bold;
}

tr.mat-mdc-footer-row td {
  font-size: large;
  &:first-child {
    font-weight: bold;
  }
}

.expense-cost {
  color: #00796b;
  font-weight: bolder;
  &.debt {
    color: #d84315;
  }
}
