

<main class="container">
    <h2 i18n>Administración de usuarios</h2>
    <div class="mb-2">
        <input #user  class="form-control" type="text" placeholder="user name"  [(ngModel)]="inputValue" />
    </div>

    <button class="input-group mb-3 btn btn-primary" type="button" (click)="add(user.value)" i18n>Añadir Usuario</button>



    <table class="table table-striped">
        <thead>
            <tr>
                <th i18n>Nombre</th>
                <th> - </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td> {{user}} </td>
                <td (click)="delete(user)"> 🗑 </td>
            </tr>
        </tbody>
 </table>

</main>

<app-alert [show]="showAlert" (click)="close()" [alert]="isError"></app-alert>