@if (weatherInfo) {
  <main class="container py-2 mb-8">
    <h2 class="my-4 text-center" i18n>Previsión 5 dias</h2>
    <div class="text-center title">
      <small>{{ datagraph.title }}</small>
    </div>
    <app-summarygraph [bytype]="'weather'" [data]="datagraph"></app-summarygraph>
    <section class="forecast g-2 mb-4">
      @for (day of mymap; track day; let i = $index) {
        <div
          class=""
          (click)="changeDate(i)"
          >
          {{ day.title }}
          <br />
          <img
            src="http://openweathermap.org/img/w/{{ day.icon }}.png"
            alt="{{ weatherInfo.name }}"
            />
            <br />
            {{ day.max }}° {{ day.min }}°
          </div>
        }
      </section>
    </main>
  }
