
<main class="container mb-5">
    <section class="debts" *ngIf="users.length > 1">
        <table class="table table-striped align-middle table-hover">
            <thead>
                <tr>
                    <th i18n>Nombre</th>
                    <th i18n>Deuda</th>
                    <th class="text-center" i18n>A pagar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" routerLink='/debts/{{user}}'>
                    <td>{{user}}</td>
                    <td>{{debts.get(user)?.totalDebts | number : '1.2-2'}} €</td>
                    <td class="text-end">
                        <div *ngFor="let person of users">
                            <ng-container *ngIf="user !== person">
                                <span i18n>a</span> {{person}}
                                
                                <ng-container *ngIf="debts.get(user)?.debts?.get(person)?.individualTotalDebts !=
                                                    debts.get(user)?.debts?.get(person)?.newDebt; else elseBlock">
                                    <small class="oldDebt">
                                        <del>{{debts.get(user)?.debts?.get(person)?.individualTotalDebts | number : '1.2-2'}}€ </del>
                                    </small>
                                    {{debts.get(user)?.debts?.get(person)?.newDebt | number : '1.2-2'}}€
                                </ng-container>

                                <ng-template #elseBlock> {{debts.get(user)?.debts?.get(person)?.individualTotalDebts | number : '1.2-2'}}€ </ng-template>
                         
                            </ng-container>  
                        </div>
                    </td>
                </tr>    
            </tbody>
        </table>
    </section>
    
    <app-summarygraph [bytype]="false"></app-summarygraph>
    <app-summarygraph [bytype]="true"></app-summarygraph>
    

</main>


