
<main class="container mb-5">
    <section class="debts">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th i18n>Nombre</th>
                    <th i18n>Deuda</th>
                    <th i18n>A pagar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user}}</td>
                    <td>{{debts.get(user)?.totalDebts | number : '1.2-2'}} €</td>
                    <td>
                        <div *ngFor="let person of users">
                            <span *ngIf="user !== person">
                                
                                <ng-container *ngIf="debts.get(user)?.debts?.get(person)?.individualTotalDebts !=
                                                    debts.get(user)?.debts?.get(person)?.newDebt; else elseBlock">
                                    <small class="oldDebt">
                                        <del>{{debts.get(user)?.debts?.get(person)?.individualTotalDebts | number : '1.2-2'}}€ </del>
                                    </small>
                                    {{debts.get(user)?.debts?.get(person)?.newDebt | number : '1.2-2'}}€
                                </ng-container>

                                <ng-template #elseBlock> {{debts.get(user)?.debts?.get(person)?.individualTotalDebts | number : '1.2-2'}}€ </ng-template>

                                <span i18n>a</span> {{person}}
                                
                            </span>  
                        </div>

                    </td>
                </tr>    
            </tbody>
        </table>
    </section>
    
    <app-summarygraph [bytype]="false"></app-summarygraph>
    <app-summarygraph [bytype]="true"></app-summarygraph>
    

</main>


