<nav
  class="d-flex flex-md-column flex-row flex-grow-1 align-items-center align-items-lg-start px-lg-1 pt-md-3 text-white h-100"
>
  <a
    href="/"
    class="d-flex align-items-center py-md-3 mb-md-2 text-white text-decoration-none ps-lg-4"
  >
    <div class="d-none d-md-flex align-items-center">
      <img
        src="./assets/img/splitty.svg"
        class="img-fluid"
        alt="Splitty Logo"
      />
      <span class="d-none d-lg-inline ms-2 splitty-logo">Splitty</span>
    </div>
  </a>

  <ul
    class="nav nav-pills flex-md-column flex-row w-100 text-center text-lg-start flex-nowrap flex-shrink-1 flex-md-grow-0 flex-grow-1 mb-md-auto mb-0 justify-content-around justify-content-md-center align-items-center align-items-md-start"
    id="menu"
  >
    <li class="nav-item w-100">
      <a
        routerLink="/debts"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        <span class="ms-3 d-none d-lg-inline" i18n>Deudas</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a
        routerLink="/expense/details"
        routerLinkActive="active"
        class="nav-link"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
          />
        </svg>
        <span class="ms-3 d-none d-lg-inline" i18n>Historial</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a routerLink="/stats" routerLinkActive="active" class="nav-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z"
          />
        </svg>
        <span class="ms-3 d-none d-lg-inline" i18n>Reportes</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a
        routerLink="/expense"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        <span class="ms-3 d-none d-lg-inline" i18n>Nuevo Gasto</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a routerLink="/users" routerLinkActive="active" class="nav-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
          />
        </svg>
        <span class="ms-3 d-none d-lg-inline" i18n>Usuarios</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a routerLink="/weather" routerLinkActive="active" class="nav-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 15a4.5 4.5 0 0 0 4.5 4.5H18a3.75 3.75 0 0 0 1.964-7.062 4.5 4.5 0 0 0-8.927-1.177 3 3 0 0 0-5.167 2.454A4.5 4.5 0 0 0 2.25 15Z"
          />
        </svg>
        <span class="ms-3 d-none d-lg-inline" i18n>Tiempo</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a routerLink="/settings" routerLinkActive="active" class="nav-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 12a7.5 7.5 0 0 0 15 0m-15 0a7.5 7.5 0 1 1 15 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077 1.41-.513m14.095-5.128 1.41-.513M9.193 2.122 8.68 3.533m7.127 13.934-.513 1.411m-7.127-1.411-.513-1.411m7.127-13.934-.513-1.411M6.707 6.707l.99.99m9.192 9.192.99.99m0-11.172-.99.99m-9.192 9.192-.99.99"
          />
        </svg>
        <span class="ms-3 d-none d-lg-inline" i18n>Ajustes</span>
      </a>
    </li>
  </ul>
</nav>
