<nav
  class="d-flex flex-md-column flex-row flex-grow-1 align-items-center align-items-lg-start px-lg-2 pt-md-4 text-white"
>
  <a
    href="/"
    class="d-flex align-items-center py-md-3 mb-md-3 text-white text-decoration-none ps-lg-3"
  >
    <div class="d-none d-md-flex align-items-center">
      <img
        src="./assets/img/splitty.svg"
        class="img-fluid logo-glow"
        alt="Splitty Logo"
      />
      <span class="d-none d-lg-inline ms-2 fs-4 splitty-logo">Splitty</span>
    </div>
  </a>

  <ul
    class="nav nav-pills flex-md-column flex-row w-100 text-center text-lg-start flex-nowrap flex-shrink-1 flex-md-grow-0 flex-grow-1 mb-md-auto mb-0 justify-content-around justify-content-md-center align-items-center align-items-md-start gap-2"
    id="menu"
  >
    <li class="nav-item w-100">
      <a
        routerLink="/debts"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link d-flex align-items-center py-md-3 px-lg-4"
      >
        <span class="material-icons-outlined">account_balance_wallet</span>
        <span class="ms-3 d-none d-lg-inline" i18n>Deudas</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a
        routerLink="/expense/details"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center py-md-3 px-lg-4"
      >
        <span class="material-icons-outlined">receipt_long</span>
        <span class="ms-3 d-none d-lg-inline" i18n>Gastos</span>
      </a>
    </li>
    <li class="nav-item w-100">
      <a
        routerLink="/stats"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center py-md-3 px-lg-4"
      >
        <span class="material-icons-outlined">insights</span>
        <span class="ms-3 d-none d-lg-inline" i18n>Reportes</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a
        routerLink="/expense"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link d-flex align-items-center py-md-3 px-lg-4"
      >
        <span class="material-icons-outlined">add_circle_outline</span>
        <span class="ms-3 d-none d-lg-inline" i18n>Añadir</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a
        routerLink="/users"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center py-md-3 px-lg-4"
      >
        <span class="material-icons-outlined">group</span>
        <span class="ms-3 d-none d-lg-inline" i18n>Usuarios</span>
      </a>
    </li>

    <li class="nav-item w-100">
      <a
        routerLink="/forecast"
        routerLinkActive="active"
        [class.disabled]="!weatherActive()"
        class="nav-link d-flex align-items-center py-md-3 px-lg-4"
      >
        <span class="material-icons-outlined">cloud_queue</span>
        <span class="ms-3 d-none d-lg-inline" i18n>Tiempo</span>
      </a>
    </li>

    <li class="nav-item w-100 mt-md-4">
      <a
        routerLink="/settings"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center py-md-3 px-lg-4"
      >
        <span class="material-icons-outlined">settings</span>
        <span class="ms-3 d-none d-lg-inline" i18n>Config</span>
      </a>
    </li>
  </ul>
</nav>
