<div class="navbar-container">
  <a routerLink="/" class="logo-section">
    <img src="./assets/img/splitty.svg" alt="Splitty" />
    <span>Splitty</span>
  </a>

  <hr class="border-secondary opacity-10 mx-3 d-none d-md-block" />

  <ul class="nav-links">
    <li class="nav-item">
      <a routerLink="/debts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
        <mat-icon>dashboard</mat-icon>
        <span class="d-md-none d-lg-inline" i18n>Deudas</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/expense/details" routerLinkActive="active" class="nav-link">
        <mat-icon>receipt_long</mat-icon>
        <span class="d-md-none d-lg-inline" i18n>Gastos</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/personal/details" routerLinkActive="active" class="nav-link">
        <mat-icon>person</mat-icon>
        <span class="d-md-none d-lg-inline" i18n>Personal</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/stats" routerLinkActive="active" class="nav-link">
        <mat-icon>analytics</mat-icon>
        <span class="d-md-none d-lg-inline" i18n>Reportes</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/expense" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
        <mat-icon>add_circle</mat-icon>
        <span class="d-md-none d-lg-inline" i18n>Añadir</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/users" routerLinkActive="active" class="nav-link">
        <mat-icon>group</mat-icon>
        <span class="d-md-none d-lg-inline" i18n>Usuarios</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/forecast" routerLinkActive="active" [class.disabled]="!weatherActive()" class="nav-link">
        <mat-icon>wb_sunny</mat-icon>
        <span class="d-md-none d-lg-inline" i18n>Tiempo</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/settings" routerLinkActive="active" class="nav-link">
        <mat-icon>settings</mat-icon>
        <span class="d-md-none d-lg-inline" i18n>Config</span>
      </a>
    </li>
  </ul>
</div>
