.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;

    svg {
        width: 21px;
        height: 21px;
        &:focus{
            outline: 0;
        }
        &:hover{
            cursor: pointer;
        }
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bi-plus-circle {
        width: 26px;
        height: 26px;
    }
    .is-active {
        color: green;
    }
    .disabled {
        color: lightgrey;
    }
 }

