
<main class="mb-5">
    <table class="table table-striped">
            <thead>
                <tr>
                    <th i18n>Fecha</th>
                    <th i18n>Pagador</th>
                    <th i18n>Titulo</th>
                    <th i18n>Cantidad</th>
                    <th> - </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expense of expensesHTML">
                    <td> {{expense.date}} </td>
                    <td> {{expense.paidBy}}</td>
                    <td> {{expense.title}}</td>
                    <td> {{expense.originalCost | number : '1.2-2'}} €</td>
                    <td (click)="deleteExpense(expense.id)"> 🗑 </td>
                </tr>
            </tbody>
    </table>
</main>


    