
<main class="mb-5">
    <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th i18n>Fecha</th>
                    <th i18n>Pagador</th>
                    <th i18n>Titulo</th>
                    <th i18n>Cantidad</th>
                    <th *ngIf="!filter"> - </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expense of expensesHTML">
                    <td> {{expense.date}} </td>
                    <td> {{expense.name}}</td>
                    <td> {{expense.title}}</td>
                    <td> 
                        {{expense.originalCost }} {{currency.currencySymbol}}
                        <div *ngIf="currency.active">
                            <small>
                                {{ calcExchange(expense.originalCost) }}
                                {{currency.currencyExchangeSymbol}}
                            </small>
                        </div>
                    </td>
                    <td *ngIf="!filter" (click)="deleteExpense(expense.id)"> 🗑 </td>
                </tr>
            </tbody>
    </table>
</main>


    