
<main class="mb-5 container">
    <h2 class="my-4 text-center" i18n>Historial</h2>

    <ng-container *ngFor="let date of dates; let i = index">
        <div class="date-title p-2">{{date | date: 'fullDate'}}</div>

        <ng-container *ngFor="let expense of expensesHTML;">
            <div class="expense px-2" *ngIf="date === expense.date" >
                <div class="row g-2 align-items-center">
                    <div class="col-8">
                        <div>{{ expense.title }}</div>
                    </div>
                    <div class="col-3">
                            {{expense.originalCost }} {{currency.currencySymbol}}

                    </div>
                    <div class="col-1" *ngIf="!filter" (click)="deleteExpense(expense.id)"> 🗑 </div>
                </div>
                <div class="row g-2 align-items-center text-secondary">
                    <div class="col-8 paidBy">
                        <span i18n>Pagado por:</span> {{ users.get(expense.paidBy)?.name}}
                        <br>
                        <span i18n>Participan: </span>
                        <span i18n *ngIf="expense.sharedBy.length == totalUsers; else elseBlock">Todos</span>

                        <ng-template #elseBlock>
                            <span *ngFor="let userId of expense.sharedBy">
                                {{ users.get(userId)?.name }}
                            </span>
                        </ng-template>
                    </div>
                    <div class="col-4 paidBy" *ngIf="currency.active">
                            {{ calcExchange(expense.originalCost) }}
                            {{currency.currencyExchangeSymbol}}
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</main>


