
<section class="mb-8">
    <div class="d-flex flex-row align-items-center">
        <div class="me-2">
            <h5 i18n>Deudas de </h5> 
        </div>
        <div>
            <select name="name" #userName class="form-select mb-2" [(ngModel)]="userID" required>
                <option *ngFor="let user of usersHTML" [value]="user.id" [selected]="1">{{user.name}}</option>
            </select>
        </div>
    </div>
               

    <ng-container *ngFor="let user of usersHTML">
        <div class="card mt-3" *ngIf="user.id != userID">
            <div class="card-header ">
                <div class="row fw-bold align-items-center">
                    <div class="col-8" i18n>Le debes a {{user.name}}</div> 
                    <div class="col-4 text-end">
                        {{myDebts?.debts?.get(user.id)?.individualTotalDebts }}
                        {{currency.currencySymbol}}
                        <small *ngIf="currency.active">
                            {{ calcExchange(myDebts?.debts?.get(user.id)?.individualTotalDebts) }}
                             {{currency.currencyExchangeSymbol}}
                        </small>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item align-items-center" *ngFor="let expense of myDebts?.debts?.get(user.id)?.RefDebtsIds">
                    <div class="col-9">{{expense.title}}</div> 
                    <div class="col-3 text-end">
                        {{expense.cost }}{{currency.currencySymbol}}
                        <small *ngIf="currency.active">
                            {{ calcExchange(expense.cost) }}
                            {{currency.currencyExchangeSymbol}}
                        </small>
                    </div>
                </li>
            </ul>
            <div class="card-footer">
                <div class="row fw-bold align-items-center">
                    <div class="col-8" i18n>Te debe {{user.name}}</div> 
                    <div class="col-4 text-end">
                        {{debts.get(user.id)?.debts?.get(userID)?.individualTotalDebts }}
                        {{currency.currencySymbol}}
                        <small *ngIf="currency.active">
                            {{ calcExchange(debts.get(user.id)?.debts?.get(userID)?.individualTotalDebts) }}
                            {{currency.currencyExchangeSymbol}}
                        </small>
                    </div>
                </div>
            </div>
            <div class="card-footer"> 
                <div class="row fw-bold align-items-center">
                    <div class="col-8" i18n>Total a pagar:</div> 
                    <div class="col-4 text-end">
                        {{myDebts?.debts?.get(user.id)?.newDebt }}
                        {{currency.currencySymbol}}
                        <small *ngIf="currency.active">
                            {{ calcExchange(myDebts?.debts?.get(user.id)?.newDebt) }}
                            {{currency.currencyExchangeSymbol}}
                        </small>
                    </div>

                </div>
            </div>
          </div>
    </ng-container>

</section>
