.done {
  text-decoration: line-through;
}

:host ::ng-deep app-add-user,
:host ::ng-deep app-add-expense {
  h2 {
    display: none;
  }
}

:host ::ng-deep app-add-user .users {
  padding-top: 2rem;
}
:host ::ng-deep app-add-expense main {
  min-height: auto;
}

mat-stepper {
  border-radius: 6px;
}

.mat-step-header[aria-selected="true"] {
  background-color: red;
}

::ng-deep .mat-step-header[aria-selected="true"] {
  background-color: #2e4f4f;
  color: white;
  .mat-step-label-active {
    color: white;
  }
  .mat-step-icon-selected {
    color: white;
    background-color: #0e8388;
  }
}
