
<main class="container">

    <form class="row g-2" (ngSubmit)="onSubmit(ExpenseForm.form.value)" #ExpenseForm="ngForm">

        <label for="name">Who paid:</label>

        <div class="col-6">
            <select name="name" #user class="form-select mb-2" [(ngModel)]="model.name" required>
                <option *ngFor="let user of users" [value]="user">{{user}}</option>
            </select>
        </div>
        <div class="col-6">
            <div class="input-group">   
                <input name="cost" type="text" class="form-control" type="number" min="1" step="any" [(ngModel)]="model.cost" required>
                <span class="input-group-text">€</span>
            </div>
        </div>

    <div class="input-group mb-2">
        <input name="title" class="form-control" type="text" placeholder="description"  [(ngModel)]="model.title" required/>
    </div>

    <div class="input-group mb-2">  
        <div class="form-check form-check-inline col-3" *ngFor="let type of ExpenseTypes; let i=index">
            <input class="form-check-input" type="radio" name="type" [(ngModel)]="model.type" [value]="type">
            <label class="form-check-label" [for]="type"> {{type}} </label>
        </div>
    </div>

    <button class="input-group mb-3 btn btn-primary" type="submit" [disabled]="!ExpenseForm.form.valid">Add</button>
    </form>

</main>

<app-alert [show]="showAlert" (click)="close()" [alert]="isError"></app-alert>


<section class="responder" *ngIf="0">
    <input #answer type="text">

    <button type="button" (click)="loadData(answer.value)">Cargar datos</button>
</section>
