
<main class="container">
    <label for="users">Who paid:</label>

    <select name="users" #user class="form-select mb-2">
        <option *ngFor="let user of users" [value]="user">{{user}}</option>
    </select>
    
    <div class="input-group mb-2">
        <input #title  class="form-control" type="text" placeholder="description"  [(ngModel)]="inputValueTitle" />
    </div>

    <div class="input-group mb-2">
        
        <input type="text" class="form-control" #cost  type="number" min="1" step="any" [(ngModel)]="inputValueCost">
        <span class="input-group-text">€</span>
    </div>

   
    <button class="input-group mb-3 btn btn-primary" type="button" (click)="add(user.value, cost.value, title.value)">Add</button>
    
    
    <section class="debts">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Debts </th>
                    <th> A pagar:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user}}</td>
                    <td>{{debts.get(user)?.totalDebts | number : '1.2-2'}} €</td>
                    <td>
                        <div *ngFor="let person of users">
                            <span *ngIf="user !== person">
                                
                                <ng-container *ngIf="debts.get(user)?.debts?.get(person)?.individualTotalDebts !=
                                                    debts.get(user)?.debts?.get(person)?.newDebt; else elseBlock">
                                    <small class="oldDebt">
                                        <del>{{debts.get(user)?.debts?.get(person)?.individualTotalDebts | number : '1.2-2'}}€ </del>
                                    </small>
                                    {{debts.get(user)?.debts?.get(person)?.newDebt | number : '1.2-2'}}€
                                </ng-container>

                                <ng-template #elseBlock> {{debts.get(user)?.debts?.get(person)?.individualTotalDebts | number : '1.2-2'}}€ </ng-template>

                                to {{person}}
                                
                            </span>  
                        </div>

                    </td>
                </tr>    
            </tbody>
        </table>
    </section>
    
    <a routerLink='/details' class="btn btn-success">See details</a>
    <a routerLink='/users' class="btn btn-success">Admin. Users</a>

</main>

<app-alert [show]="showAlert" (click)="close()" [alert]="isError"></app-alert>
