
<main class="container">
    <label for="users">Who paid:</label>

    <select name="users" #user class="form-select">
        <option *ngFor="let user of users" [value]="user">{{user}}</option>
    </select>
    
    <div >
        <input #title  class="form-control" type="text" placeholder="description" />
    </div>

    <div class="input-group mb-3">
        
        <input type="text" class="form-control" #cost  type="number" min="1" step="any">
        <span class="input-group-text">€</span>
    </div>

   
 
    
    <button class="input-group mb-3 btn btn-primary" type="button" (click)="add(user.value, cost.value, title.value)">Añadir</button>
    
    
    
    <section class="debts">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Deudas </th>
                    <th> A pagar:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index">
                    <td>{{user}}</td>
                    <td>{{debts.get(user)}} €</td>
                    <td>{{calc.get(user)}} €</td>
                </tr>    
            </tbody>
        </table>
    </section>
    
    <a routerLink='/details' class="btn btn-success">See details</a>

</main>
