
@let usersList = users();
@let usersLenght = usersList?.length;

<main class="container-md mb-5">
  <h2 class="my-4 text-center" i18n>Deudas</h2>
  @if (debts(); as debtsMap) {
    <section class="row g-4">
      @if ((debtsMap | keyvalue).length) {
        @for (user of usersList; track user.id) {
          <div
            class="col-sm-12 col-lg-6 col-xxl-4"
            [class.order-2]="debtsMap[user.id]!.totalIowe <= 0"
          >
            <div
              class="persoanlDebts p-md-3 p-2"
              routerLink="/debts/details"
              data-cy="user-debt"
            >
              <div
                class="d-flex flex-row justify-content-between title"
                [class.border-bottom]="usersLenght && usersLenght > 2"
              >
                <div>{{ user.name }}</div>
                <div class="totalIowe">
                  {{ debtsMap[user.id]?.totalIowe | number: ".0-2" }}
                  {{ currency.currencySymbol }}
                  @if (currency.active) {
                    <div class="text-end mainExchange">
                      {{
                        debtsMap[user.id]?.totalIowe
                          | exchange
                          | number: ".0-2"
                      }}
                      {{ currency.currencyExchangeSymbol }}
                    </div>
                  }
                </div>
              </div>
              @for (person of usersList; track person.id) {
                @if (user.id !== person.id && usersLenght && usersLenght > 2 ) {
                  <div
                    class="d-flex flex-row justify-content-between align-items-center text-secondary py-1 subtitle"
                  >
                    <div>{{ person.name }}</div>
                    <div>
                      {{
                        debtsMap[user.id]?.debts?.[person.id]?.newDebt
                          | number: ".0-2"
                      }}
                      {{ currency.currencySymbol }}
                      @if (currency.active) {
                        <small class="text-end">
                          {{
                            debtsMap[user.id]?.debts?.[person.id]?.newDebt
                              | exchange
                              | number: ".0-2"
                          }}
                          {{ currency.currencyExchangeSymbol }}
                        </small>
                      }
                    </div>
                  </div>
                }
              }
            </div>
          </div>
        }
      }
    </section>
  }

  <app-debt-tracing [debtTracing]="debtTracing"></app-debt-tracing>
</main>
