.persoanlDebts{
    border: 1px solid #dadee9;
    border-radius: 7px;
    background: white;
    transition: all 1s ease;
    .title {
        font-size: 1.5rem;
    }
    .text {
        font-size: small
    }
    .mainExchange {
        font-size: medium;
    }
    .subtitle {
        font-size: 0.8rem;
    }
    &:hover, &:active{
        transform: scale(1.1);
        border: 1px solid;
        cursor: pointer;
    }
}

.list-group-item {
    display: flex;
    border: 1px solid rgba(0,0,0,.125);;
}
small{
    font-size: xx-small;
    display: block;
}