.persoanlDebts{
    border: 2px solid #1f2128;
    border-radius: 7px;
    background: white;
    transition: all 1s ease;
    .title {
        font-size: 1.5rem;
    }
    .text {
        font-size: small
    }
    .mainExchange {
        font-size: medium;
    }
    .subtitle {
        font-size: 1rem;
    }
    &:hover, &:active{
        transform: scale(1.05);
        border: 1px solid;
        cursor: pointer;
    }
}

.list-group-item {
    display: flex;
    border: 1px solid rgba(0,0,0,.125);
}
small{
    display: block;
}

.algo{
  background: hsla(40, 94%, 74%, 1);

  background: linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  font-size: 1.5rem;
}

.element{
  position: relative;
  width: 100%;
  border-radius: 0;
  height: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfcdcd;
  flex-direction: column;
}

.triangle {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #b9b8b8;
  transform: translateY(-50%);
}

.current-debt{
  font-size: 1.4rem;
  margin-top: -8px;
}
.old-debt{
  font-size: 0.8rem;
  text-decoration: line-through;
}

.card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 16px;
}


.card-title {
  color: #333;
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
}

.card-description {
  margin-top: 1rem;
  font-size: 1.2rem;
}



