<section class="mb-4">
  <h4 class="my-4" i18n>Divisas</h4>
  <div class="alert alert-secondary" role="alert">
    <p i18n>
      Configura tus monedas y elige si quieres calcular automaticamente el
      cambio de moneda.<br /><br />
      Ejemplo:<br />
      Pago en libras £ pero quiero ver tambien mi gastos en €. Una libra vale
      1.18€ asi que en valor del cambio pondré 1.18
    </p>
  </div>

  <div class="row g-2">
    <div class="col-6">
      <label i18n>Moneda de pago</label>
      <input
        #currency
        class="form-control"
        type="text"
        maxlength="4"
        placeholder="€"
        [(ngModel)]="currencySettings.currencySymbol"
      />
    </div>

    <div class="form-check form-switch mt-4 mb-2">
      <input
        #exchange
        class="form-check-input"
        type="checkbox"
        role="switch"
        [checked]="currencySettings.active"
        [(ngModel)]="currencySettings.active"
      />
      <label class="form-check-label" i18n> On / Off "Cambio de divisa"</label>
    </div>

    <ng-container>
      <div class="col-6">
        <label i18n>Moneda de cambio</label>
        <input
          #excurrency
          class="form-control"
          type="text"
          maxlength="4"
          [disabled]="!exchange.checked"
          placeholder="$"
          [(ngModel)]="currencySettings.currencyExchangeSymbol"
        />
      </div>
      <div class="col-6">
        <label i18n>Valor del cambio</label>
        <input
          #exvalue
          class="form-control"
          type="number"
          [disabled]="!exchange.checked"
          placeholder="1.5"
          [(ngModel)]="currencySettings.exchangeValue"
        />
      </div>
    </ng-container>

    <div class="col-12">
      <button
        [disabled]="currency.value === ''"
        class="input-group btn my-4 btn btn-primary p-2"
        type="button"
        (click)="
          setCurrency(
            currency.value,
            exchange.checked,
            excurrency.value,
            exvalue.value
          )
        "
        i18n
      >
        Guardar cambios
      </button>
    </div>
  </div>
</section>
