/* You can add global styles to this file, and also import other style files */
a {
    width: 100%;
    margin-top: 1em;
}
section {
    margin-top: 1em;
}

.mb-6{
    margin-bottom: 2rem;
}
.mb-8{
    margin-bottom: 3rem;
}