/* You can add global styles to this file, and also import other style files */
section {
    margin-top: 1em;
}

.mb-6{
    margin-bottom: 2rem;
}
.mb-8{
    margin-bottom: 3rem;
}


main.container, main.container-fluid {
    border:1px solid rgb(219 219 219);
    background: #fff;
    box-sizing: border-box;
    margin-top: 0.9em;
    border-radius: 6px;
    min-height: 80vh;
}