


<div *ngIf="!bytype" class="mb-3 mt-2 text-center">
    <h5>Hoy por persona: {{todayCost | number : '1.2-2'}} €</h5>
    <h6>Gasto medio persona/dia: {{meanCost | number : '1.2-2'}} €</h6>
</div>

      <div style="display: block" class="mb-3">
        <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [type]="barChartType"
          (chartHover)="chartHovered($event)" 
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
 

